client_init:
    path:     /client/config/{fqdn}/{secret}
    defaults: { _controller: BrixITbrixmondBundle:Client:config }

client_packet:
    path:     /client/packet/{fqdn}/{secret}
    defaults: { _controller: BrixITbrixmondBundle:Client:packet }

home:
    path:     /
    defaults: { _controller: BrixITbrixmondBundle:Default:index }

home_graph:
    path:     /graph
    defaults: { _controller: BrixITbrixmondBundle:Default:graph }

server_charts:
    path:     /charts/{fqdn}/{timedomain}
    defaults: { _controller: BrixITbrixmondBundle:ServerPage:charts, timedomain: hour }

ajax_system_load:
    path:     /ajax/system-load/{fqdn}/{timedomain}
    defaults: { _controller: BrixITbrixmondBundle:ServerData:systemLoad }

ajax_network_bytes:
    path:     /ajax/network-bytes/{fqdn}/{timedomain}
    defaults: { _controller: BrixITbrixmondBundle:ServerData:networkBytes, type: bytes }

ajax_network_packets:
    path:     /ajax/network-packets/{fqdn}/{timedomain}
    defaults: { _controller: BrixITbrixmondBundle:ServerData:networkBytes, type: packets }

ajax_network_errors:
    path:     /ajax/network-errors/{fqdn}/{timedomain}
    defaults: { _controller: BrixITbrixmondBundle:ServerData:networkError }

ajax_sockets:
    path:     /ajax/sockets/{fqdn}/{timedomain}
    defaults: { _controller: BrixITbrixmondBundle:ServerData:sockets }

ajax_cpu_usage:
    path:     /ajax/cpu-usage/{fqdn}/{timedomain}
    defaults: { _controller: BrixITbrixmondBundle:ServerData:cpuUsage }

ajax_memory:
    path:     /ajax/memory/{fqdn}/{timedomain}
    defaults: { _controller: BrixITbrixmondBundle:ServerData:memory }

ajax_swap:
    path:     /ajax/swap/{fqdn}/{timedomain}
    defaults: { _controller: BrixITbrixmondBundle:ServerData:swap }

admin_servers:
    path:     /admin
    defaults: { _controller: BrixITbrixmondBundle:Admin:servers }

admin_server_accept:
    path:     /admin/server/{id}/accept
    defaults: { _controller: BrixITbrixmondBundle:Admin:serverAccept }

admin_server_reject:
    path:     /admin/server/{id}/reject
    defaults: { _controller: BrixITbrixmondBundle:Admin:serverReject }

admin_users:
    path:     /admin/users
    defaults: { _controller: BrixITbrixmondBundle:Admin:users }

admin_hosts:
    path:     /admin/hosts
    defaults: { _controller: BrixITbrixmondBundle:Admin:hosts }

admin_host_edit:
    path:     /admin/hosts/{id}/edit
    defaults: { _controller: BrixITbrixmondBundle:Admin:hostEdit }

admin_host_add:
    path:     /admin/host/add
    defaults: { _controller: BrixITbrixmondBundle:Admin:hostEdit, id:new }