<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Brixmond</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="{{ asset('components/d3/d3.js') }}"></script>
    <link rel="icon" href="/favicon-22.png" sizes="22x22">
    <link rel="icon" href="/favicon-64.png" sizes="64x64">
    <link rel="icon" href="/favicon-128.png" sizes="128-128">
    {% block scripts %}
    {% endblock %}
</head>
<body>
<header>
    <span class="hidden-xs">BrixIT Monitoring {% block headerbar %}</span>{% endblock %}
</header>
<main>
    <div class="container-fluid">
        {% block main %}{% endblock %}
    </div>
</main>
</body>
</html>