@import "../components/bootstrap/less/bootstrap";

@body-bg: #eee;

body > header {
  height: 48px;
  line-height: 48px;
  background: #666;
  color: #BBB;
  font-weight: bold;
  padding-left: @padding-base-horizontal;
  font-size: 1.3em;

  -webkit-box-shadow: inset 0 -3px 8px -4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -3px 8px -4px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 1px #000000;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

main {
  padding-top: @padding-large-vertical;
}

#buttonrow {
  margin-bottom: @padding-large-vertical;
}

.panel-graph {
  height: 222px;

  path.line {
    fill: none;
    stroke-width: 1.5px;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis line {
    stroke: #fff;
  }

  .x.axis .minor {
    stroke-opacity: .5;
  }

  .x.axis line, .x.axis path {
    fill: none;
    stroke: #000;
  }

  .y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
  }
}

div.ellipsis {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
td.ellipsis {
  max-width: 0;
}

svg#dashboard-graph {
  overflow: hidden;

  .node {
    white-space: nowrap;
  }

  .node rect,
  .node circle,
  .node ellipse {
    stroke: #333;
    fill: #fff;
    stroke-width: 1.5px;
  }

  .cluster rect {
    stroke: #333;
    fill: #000;
    fill-opacity: 0.1;
    stroke-width: 1.5px;
  }

  .edgePath path.path {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
  }
}
